@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@400;500&family=Poppins&display=swap');
@font-face {
  font-family: Pokemon ;
  src: url(../public/font/Pokemon\ Solid.ttf);
}
:root{
  --text-color1:#3b5e5e;
  --text-color2:#8b8b8b;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  background-color: #3e3e3e;
}
header{
  width: 100vw;
  height: 70px;

  background-color: #7037FF;
}
nav{
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}
nav> a{
  text-decoration: none;
}
nav h1{
  font: 500 normal 32px/0px Pokemon;
  color: #ffea00;
  -webkit-text-stroke: 2px rgb(8, 26, 222); 

  letter-spacing: 1px;
}

footer{
  height: 40px;
  width: 100vw;
  background-color: #7037FF;
  text-align: center;
  display:  flex;
  align-items: center;
  justify-content: center;
  font: 500 normal 20px/22px Inter;
}
  #__next{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }